@import "tailwindcss";


@layer base {

  @font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
}

@utility bg-gradient {
  background-image: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%);
}

@theme {

  --font-sans: "Roboto", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-roboto-flex: "Roboto Flex", ui-sans-serif, system-ui, sans-serif;

  --text-preset-1: 56px;
  --text-preset-1--line-height: 100%;
  --text-preset-1--letter-spacing: 0px;
  --text-preset-1--font-weight: bold;

  --text-preset-1-mobile: 40px;
  --text-preset-1-mobile--line-height: 100%;
  --text-preset-1-mobile--letter-spacing: 0px;
  --text-preset-1-mobile--font-weight: bold;

  --text-preset-2-bold: 16px;
  --text-preset-2-bold--line-height: 150%;
  --text-preset-2-bold--letter-spacing: 0px;
  --text-preset-2-bold--font-weight: bold;

  --text-preset-2: 16px;
  --text-preset-2--line-height: 150%;
  --text-preset-2--letter-spacing: 0px;
  --text-preset-2--font-weight: 400;

  --text-preset-3: 12px;
  --text-preset-3--line-height: 150%;
  --text-preset-3--letter-spacing: 0px;
  --text-preset-3--font-weight: bold;


  --color-grey: #949494;
  --color-red: #FF6155;
  --color-blue-800: #242742;
  --color-blue-700: #36384D;

  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1300: 104px;

  --gradient-light-start: #FF6A3A;
  --gradient-light-end: #FF527B;

  --gradient-4: linear-gradient(90deg,
      var(--gradient-light-start) 0%,
      var(--gradient-light-end) 100%);
}